@media screen and (max-width: 768px){
	.wrapper {
		width: 768px;
	}
	.navigation {
		display: none;
	}
	.header-info {
		display: none;
	}
	.contacts-icon {
		margin-right: 30px;
	}
	.burger-menu__close {
		display: block;
	}
	.background__address {
		display: none;
	}
	.background__object {
		display: none;
	}
	.main-info {
		flex-direction: column;
	}
	.main-info__left {
		width: 100%;
	}
	.main-navigation__item {
		display: none;
	}
	.main-navigation__item_active {
		display: block;
		width: 100%;
	}
	.main-info__right {
		width: 95%;
		padding-top: 0;
	}
	.examples-navigation__list {
		display: flex;
		justify-content: space-between;
	}
	.examples-navigation__item {
		width: 45%;
	}
	.news__item p {
		height: 150px;
		overflow: hidden;
	}
	
	.footer-contacts {
		float: left;
		padding: 20px;
	}
	.footer-nav {
		float: right;
	}
}


@media screen and (max-width: 640px){
	.wrapper {
		width: 640px;
	}
	.header__left {
		width: 45%;
	}
	.header__right {
		width: 50%;
	}
	.news__item {
		display: none;
	}
	.news__item_first {
		display: block;
	}
	.footer-nav__item {
		display: none;
	}
	.footer-nav__item_title {
		display: block;
	}
	.footer {
		flex-direction: column;
	}
	.footer-contacts {
		float: none;
		width: 95%;
	}
	.footer-nav {
		float: none;
		flex-direction: column;
		margin-left: 20px;
		width: 95%;
	}
	.footer-nav__list {
		margin-bottom: 20px;
	}
}