
@font-face {
    font-family: 'vida_31_proregular';
    src: url('../fonts/vida31pro-webfont.woff2') format('woff2'),
         url('../fonts/vida31pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vida_33_proregular';
    src: url('../fonts/vida33pro-webfont.woff2') format('woff2'),
         url('../fonts/vida33pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}